layout {
	tab name="running" {
		pane name="app" {
			command "fish"
			args "-c" "cat test.json | go run ./src \"https://dummyjson.com/products/add --method=POST\""
		}

		pane size=1 borderless=true {
			plugin location="compact-bar"
		}
	}
}
